/* 
    Document   : style
    Created on : May 22, 2015, 3:41:57 PM
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/


root { 
    display: block;
}
html,body{
    background-color: #4396CA;
    margin: 0px 0px;
    padding: 0px 0px;
}
#Haside{
    background-color: #4396CA;
}

#Habody{
    background-color: white;
    border: 1px solid #4396CA;
    border-radius: 30px;
    padding: 0px 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: auto;
    max-width: 1280px;
}

#Haheader{
    background:  url("../../public/images/Banner/Large_Banner_LV.jpg") center no-repeat #4396CA;
    background-position: center;
    height: 150px;
    border: 1px solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: white;
    margin: 0px;
    padding: 0px 0px;
    max-width: 1280px;
    min-width: 450px;    
}
#Hafooter{
    background-image: url("../../public/images/Banner/cong-nghe-thong-tin-17.jpg");
    color: white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 30%;
    padding-top: 7px;
    padding-bottom: 7px;
    max-width: 1280px;
}